body
{
    margin: 0px;
}

.container
{
    border: 2px solid black;
    height: 300px;
    margin-bottom: 50px;
}

#paragrafo
{
    font-size: 30px;
}

button
{
    margin-right: 30px;
    padding: 10px 70px;
    font-size: 20px;
    cursor: pointer;
}